<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>921570439899-pso63pvjnc3dqkgas5jo325pmkfva99q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921570439899-pso63pvjnc3dqkgas5jo325pmkfva99q</string>
	<key>API_KEY</key>
	<string>AIzaSyCOX2KctwbJT6Y691HRNROww4-Df6AB5g4</string>
	<key>GCM_SENDER_ID</key>
	<string>921570439899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thexande.sparkpoll</string>
	<key>PROJECT_ID</key>
	<string>sparkpoll-329d7</string>
	<key>STORAGE_BUCKET</key>
	<string>sparkpoll-329d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:921570439899:ios:245c5e398dda49f0</string>
	<key>DATABASE_URL</key>
	<string>https://sparkpoll-329d7.firebaseio.com</string>
</dict>
</plist>